
    /*GERAL ----------------------------------------------------------------------------------*/
    * {
        margin: 0;
        padding: 0;        
        color: #fff;
        box-sizing: border-box;        
    }

    
    h1 {
        font-family: 'Bebas Neue';
    }
    h2 {
        font-family: 'Bebas Neue';
    }
    

    body{
        background-color: black;        
    }

    /*HEADER ----------------------------------------------------------------------------------------*/
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1c1c1c;
        padding: 5px 50px ;
      }
      
      .img-header {
        max-width: 80px;
      }
      
      .ul-header {
        display: flex;
        gap: 50px;
        list-style: none;
      }
      
      .li-header {
        font-size: 20px;
        text-decoration: none;
        color: #F0F0F0;
      }
      
      .li-header:hover {
        color: #6A9AB0;
      }


    /*SESSÃO1 --------------------------------------------------------------------------------------*/

    .containerWell {
    
        margin: auto;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        background-image: url("../img/BG\ Ini\ Desk\ 1920x880\ 1.png");
        background-size: cover;
        background-position: center;
        padding: 40px;
       
    }
    .headline{
        max-width: 90vh;
        padding-left: 10em;
    }
    
    #form{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    }
    
    h1 {
        font-size: 1.5rem;
        text-align: left;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.5;
        padding: 5px;
    }
    
    input, button{
        padding: 20px;
        margin: 2px 0;
        border-radius: 5px;
        color: #000000;
    }

    button:hover{
        cursor: pointer;
        background-color: #cfcdcd;
    }
    
    @media (max-width: 600px) {
    
        .containerWell {
            background-color: #000000; 
            color: #f4f4f4;
        }
        h1 {
            font-size: 1.5rem; 
        }
    
        p {
            font-size: 0.9rem; /* Texto menor em telas pequenas */
        }
        
        button {
            font-size: 0.6rem; /* Texto menor em telas pequenas */
            color: #000000;
        }

        .headline{
            padding-left: 1em;
        }
        #form{
            max-width: 70vw;
        }

    }
    


    /*SESSÃO 2 ---------------------------------------------------------------------------------------*/
    .box-section {
        display: flex;        
        width: 100vw;
        min-height: 100vh;       
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 3rem;
        background-image: url('../img/bg-especialist-sec2-1920x980px.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
    }

    .especialis-info-box {
        max-width: 55%;        
    }    

    .especialis-info-box h2 {             
        font-size: clamp(1.5rem, 2rem, 3rem);
    }   

    .especialis-info-box p {
        width: 100%;       
        font-size: clamp(1rem, 1.5rem, 2rem);
        white-space: pre-line;
    }

    /*Media querrys*/

    @media (max-width: 576px) {
        .box-section {
            background-image: url('../img/bg-mobile-768x880.png');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 3rem;
                       
        }

        .especialis-info-box {
            max-width: 100%;
            height: auto;     
        }

        .especialis-info-box p {
            font-size: clamp(.8rem, 1rem, 1.5em);
            text-align: center;
        }
        
        .especialis-info-box h2 {             
            font-size: clamp(1.3rem, 1.8rem, 2.5rem);
            text-align: center;
        }
        
        .backgtound-spacer {
            min-height: 500px;
            width: 100%;            
        .box-section p { 
            font-size: .9rem;
        }
    }    

    @media (min-width: 600px) and (max-width: 768px){
            
        .box-section h2 {
            font-size: 1.1rem;
        }

        .box-section p { 
            font-size: .9rem;
        }
    }

    

    @media (min-width: 510px) and (max-width: 599px){
            
        .box-section h2 {
            font-size: 1.2rem;
        }

        .box-section p { 
            font-size: .8rem;
        }
    }
    @media (max-width: 360px) {
        .box-section {
            padding: 15px;
        }
    }}
